@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;900&display=swap");
:root {
  --font-family: "Poppins", sans-serif;
  --font-color-primary: #ffffff;
  --font-color-secundary: #1680ac;
  --font-color-menu: #000000;
  --bg-primary: #000305;
  --bg-secundary: #f8f8f8;
}

body{
  background-image: url(../assets/noticias/plano\ de\ fundo.jfif);
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

.header {
  /* z-index: determinar el orden en el que los elementos se superponen entre sí en el eje Z, que es perpendicular a la superficie de la página. */
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s ease;
}

.brand {
  color: var(--font-color-primary);
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.navegation-items a {
  /*  El position: relative; en este caso indica que el enlace será el punto de referencia para posicionar cualquier elemento descendiente con position: absolute;. Esto significa que cualquier elemento con position: absolute; dentro de un enlace se posicionará en relación con ese enlace en particular. */
  position: relative;
  color: var(--font-color-primary);
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}
/* Media Queries */
@media (max-width: 1040px) {
  .header {
    padding: 12px 20px;
  }

  .home {
    padding: 100px 20px;
  }

  .media-icons {
    right: 15px;
  }

  .navegation {
    display: none;
  }

  .navegation.active {
    /* display: none; */
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  .navegation-items a {
    color: var(--font-color-menu);
    font-size: 1.2em;
    margin: 20px;
  }

  .navegation-items a::before {
    background: var(--font-color-menu);
    height: 5px;
  }

  .navegation.active .navegation-items {
    background: var(--bg-secundary);
    width: 600px;
    max-width: 600px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 20%);
  }

  .menu-btn {
    background: url("imagens/menu.svg") no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
  }

  .menu-btn.active {
    z-index: 999;
    background: url("imagens/close.svg") no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
  }
}

.navegation-items a::before {
  /* content: se utiliza principalmente con pseudo-elementos, como ::before y ::after, para agregar contenido adicional a un elemento en una página web. */
  content: "";
  position: absolute;
  background: white;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}
.navegation-items a:hover::before {
  /* da la impresión de que la línea negra se desliza desde la parte inferior del enlace */
  width: 100%;
}

/* Noticias */
.wrapper {
  max-width: 1100px;
  padding: 20px 10px;
  margin: 0 60px 35px;
  overflow: hidden;
  margin-top: 90px;
}
.wrapper .card {
  background: rgb(4, 1, 56);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.3px);
  -webkit-backdrop-filter: blur(14.3px); 
  display: flex;
  height: auto;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(255, 0, 0, 0.979);
  transition: transform 0.3s ease;
}
.wrapper .card:hover {
  transform: translateY(-10px);
}
.card .card-image {
  position: relative;
}
.card .card-image img {
  width: 100%;
  padding: 10px;
  border-radius: 22px;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}
.card .card-image .card-tag {
  position: absolute;
  top: 25px;
  left: 25px;
  font-size: 0.75rem;
  color: #ffffff;
  padding: 5px 15px;
  border-radius: 30px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background: rgba(1, 35, 65, 0.9);
  box-shadow: 0 2px 10px rgb(251, 255, 1);
}
.card .card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 25px 25px;
}
.card .card-content .card-title {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 15px;
}
.card .card-content .card-text {
  color: #ffffff;
  font-size: 0.95rem;
  line-height: 1.6;
  margin-bottom: 20px;
}
.card .card-footer {
  display: flex;
  margin-top: auto;
  align-items: center;
  padding-top: 15px;
  justify-content: space-between;
  border-top: 1px solid rgb(250, 246, 246);
}
.card .card-footer .card-profile {
  display: flex;
  align-items: center;
}
.card .card-profile .card-profile-info {
  display: flex;
  flex-direction: column;
}
.card .card-profile .card-profile-name {
  font-size: 0.875rem;
  font-weight: 600;
  color: #ffffff;
  text-decoration: solid;
}
.card .card-profile .card-profile-role {
  font-size: 0.8rem;
  color: #ffffff;
  text-decoration: solid;
}
.card .card-profile img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.card .card-button {
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 0.81rem;
  font-weight: 600;
  text-decoration: none;
  background: linear-gradient(135deg, #000000 0%, #16f502 100%);
  box-shadow: 0 4px 10px rgb(255, 10, 2);
  transition: all 0.3s ease;
}
.card .card-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgb(0, 255, 200);
}
.wrapper .swiper-pagination-bullet {
  height: 15px;
  width: 15px;
  opacity: 1;
  overflow: hidden;
  position: relative;
  background: #1eff00;
}
.wrapper .swiper-pagination-bullet-active {
  background: #e8f807;
}
/* Auto-play loading indicator */
.wrapper .swiper-pagination-bullet-active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000;
  transform-origin: left center;
  transform: scaleX(0);
  animation: autoplay-loading 5s linear forwards;
}
.container:hover .wrapper .swiper-pagination-bullet-active::before {
  animation-play-state: paused;
}
@keyframes autoplay-loading {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
.wrapper :where(.swiper-button-prev, .swiper-button-next) {
  color: #ff0202;
  margin-top: -20px;
  transition: all 0.3s ease;
}
.wrapper :where(.swiper-button-prev, .swiper-button-next):hover {
  color: #ff0000;
}
/* Noticias */

/* Noticia  Responsivo */
@media (max-width: 768px) {
  .wrapper {
    margin: 0 10px 25px;
     margin-top: 90px;
     
  }
  .wrapper :where(.swiper-button-prev, .swiper-button-next) {
    display: flex;
    width: 7px;
    
  }
}
@media screen and (max-width: 900px ){
    .blog-section .section-content .cards{
   
    grid-template-columns: repeat(2, 1fr);      
  }
} 
@media screen and (max-width: 768px ){
    .blog-section .section-content .cards{
   
    grid-template-columns: 1fr;     
  }
} 
/* Noticia  Responsivo */


/* Rodape  */
footer {
    
  width: 100%;
	background: rgba(5, 80, 241, 0.492);
  box-shadow: 0 4px 30px rgb(247, 1, 1);
  backdrop-filter: blur(14.3px);
  -webkit-backdrop-filter: blur(14.3px);
	color: #ffffff;
  font-size: 1rem;
	padding: 20px;
	text-align: center;
	
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #ffffff;
	text-decoration: none;
}
/* Rodape  */